@model SpotifyOpgaveCore.Models.Room

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript" language="javascript">
    $(document).ready(function () {
        $("#searchBox").on('input', function () {
            $.ajax(
                {
                    type:"POST",
                    url: "@Url.Action("Search", new { id = Model.RoomId })", // Controller/View
                    dataType: 'html',
                    data: { //Passing data
                        searchString: $("#searchBox").val(), //Reading text box values using Jquery

                },
                success: function (data) {
                    $("#list-result").html(data);
                }
            });
            console.log("yo");

        });
    });
</script>

<h2>Details</h2>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Owner)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Owner)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoomId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomId)
        </dd>
    </dl>
    <div class="text-body">
        For at invitere andre til din playliste skal de bruge dit room id som du kan se herover
    </div>
</div>
<h2>@Html.DisplayFor(model => model.Owner)'s Queue</h2>
@if(User.Identity.Name == Model.Owner) {
<script>
    setInterval(function GetContext() {
        $.ajax(
            {
                url: "@Url.Action("PlayingContext", new { id = Model.RoomId })", // Controller/View
                success: function (data) {
                    $("#playerContext").html(data);
                }

            });
        console.log("yo");
    }, 2000);
</script>
<div id="playerContext">
    @Html.Partial("playingContext", Model)
</div> }
<div id="songList">
    @Html.Partial("CreateSong", Model)

</div>
<div class="input-group input-group-sm mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-sm">Søg</span>
    </div>
    <input type="text" id="searchBox" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
</div>
<div id="list-result">
    @Html.Partial("Search", Model)
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.RoomId">Rediger</a> 
    @* <a asp-action="Index">Back to List</a>*@
</div>
